name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  LOCATION: "./game"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --manifest-path {LOCATION}/Cargo.toml
    - name: Run Tests
      run: cargo test --verbose --manifest-path {LOCATION}/Cargo.toml
